<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid ">
        <h1 class="mt-2 p-5 bg-warning rounded text-center">Text-Extractor</h1>
        <br />
        <form action="/processimage" method="post" enctype="multipart/form-data">
          <div class="form-group mb-4">
            <input
              type="file"
              name="file"
              required
              class="form-control"
            />
          </div>
          <div class="form-group text-white mt-4">
            <button class="btn btn-primary btn-block">Extract text</button>
          </div>
        </form>
        <textarea  class=" mt-4" name="" id="Box" cols="35" rows="10">
          <%= text %> 
        </textarea>
        <script src="js/bootstrap.bundle.js"></script>
</body>
</html>